<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> This is an automated reminder email regarding an Upcoming Scheduled Interview for <%= @name %> between <%= @starttime %> and <%= @endtime %> Tomorrow</h1>



  </body>
</html>
