<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Welcome to example.com </h1>
=======
    <h1>You Have been Selectd for an Interview! </h1>
>>>>>>> e6b1b225c542ff112034bb5fade7eb2de6c16b30
    <p>
      You have successfully signed up to example.com,
      your username is: .<br>
    </p>
<<<<<<< HEAD
  
=======

>>>>>>> e6b1b225c542ff112034bb5fade7eb2de6c16b30
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
