/* line 1, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.pagediv {
  font-family: 'Lato', sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  border: none;
}

/* line 8, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.pagediv .panel {
  border-left: 1px;
  border-right: 1px;
}

/* line 15, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
p, th, td {
  font-size: 18px;
}

/* line 19, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
p {
  color: #236B8E;
}

/* Custom Colored Panels */
/* line 26, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.huge {
  font-size: 40px;
}

/* line 30, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-green {
  border-color: #5cb85c;
}

/* line 34, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

/* line 40, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-green > a {
  color: #5cb85c;
}

/* line 44, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-green > a:hover {
  color: #3d8b3d;
}

/* line 48, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 52, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background: #d9534f;
}

/* line 58, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-red > a {
  color: #d9534f;
}

/* line 62, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-red > a:hover {
  color: #b52b27;
}

/* line 66, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 70, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background: #f0ad4e;
}

/* line 76, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-yellow > a {
  color: #f0ad4e;
}

/* line 80, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.panel-yellow > a:hover {
  color: #df8a13;
}

/* line 84, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.iconred {
  color: #d9534f;
}

/* line 88, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.iconyellow {
  color: #f0ad4e;
}

/* line 92, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.iconblue {
  color: blue;
}

/* line 96, /home/akshay/uwbvjobportal/app/assets/stylesheets/master.css.scss */
.icongreen {
  color: #3d8b3d;
}
