<div class="pagediv">
  <%= stylesheet_link_tag 'master' %>
  <div class="panel panel-default" id="profiledetails">
    <div class="panel-heading">
      <h3 class="panel-title">New Job Posting</h3>
    </div>
</div>
<div>
  <strong style="font-size:20px;>"<%= link_to 'Back', jobs_path, class: "btn btn-link" %></strong>
<%= render 'form' %>

</div>


</div>
