
<h1>Applicant Information</h1>
<ol>
<li>Schedule Interview for </li>
<li><%= link_to @user.firstname,pages_contact_path  %></li>
<li>Schedule Interview for </li>
<li><%= @user2.firstname %></li>
</ol>

<script>
    alert("Hello, world.");
</script>

<%= link_to "Go Back", jobs_path %>
